.edit-profile__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: visible;
  width: calc(430px - 36px * 2);
  height: calc(330px - 34px - 37px);
  background-color: white;
  border-radius: 10px;

  margin: auto;
  padding: 34px 36px 37px;
}

@media screen and (max-width: 480px) {
  .edit-profile__box {
    width: calc(282px - 22px * 2);
    height: calc(322px - 25px * 2);
    padding: 25px 22px;
  }
}