.footer__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;

  max-width: 282px;

  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 480px) {
  .footer__title {
    font-size: 14px;
    line-height: 17px;
  }
}