.profile__description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;

  margin: 0;
  padding: 0;
}

@media screen and (max-width: 960px) {
  .profile__description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    margin: 14px 0 0;
  }
}